{%extends 'base/base.html'%}

{% load static%}
{%block content%}

<h2>Este es el index de la pagina</h2>
<h3>Aqui estan los canales activos</h3>
<div id="contenedor"></div>


<p id="status"></p>
<form id="form">
    {%for objeto in estatus%}
        {%if objeto.estado == 'conectado'%}
        <div class="field-wrapper">
            <a href="{% url 'room' room_name=objeto.channel %}">

                <button>Unete al stream</button>
            </a> 
        </div>
        {%endif%}
    {%endfor%}
    
    
    
</form>
<script>
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()    
        let redirectTo = `/canal/JOSEALV`;
        window.location.replace(redirectTo);
    }
    form.addEventListener('submit', handleSubmit)
</script>


{%endblock%}