{%extends 'base/base.html'%}
{%block content%}
<form method="POST" id="formularioTokens">
	<input type="number" id="tokens" name="tokens" value="{{saldo}}">
	
  <button type="submit">Reclama tus tokens</button>
</form>

<script>
	document.getElementById("formularioTokens").addEventListener("submit", async (e) => {
  e.preventDefault();

  try {
    // Obtener el valor del campo
	tokens = parseInt(document.getElementById("tokens").value, 10);

    let data = {
      tokens: tokens
    };
    const response = await fetch('/lobby/', {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
  } catch (error) {
    console.log("No se pudo realizar la insercion");
  }
});
</script>

{%endblock%}
