<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <p><a href= {% url 'inicio' %}>Inicio</a></p>
            <p><a href="#">Acerca de</a></p>
            <p><a href="#">Servicios</a></p>
            {%if request.user.is_authenticated%}
                <p><a href= {% url 'exit' %}>Salir</a></p>
            {%else%}
                <p><a href= {% url 'loginDos' %}>Ingresar</a></p>
                <p><a href="#">Registrarse</a></p>
            {%endif%}

        </ul>
      </nav>
</header>
<body>
    
    {% block content %}
    {% endblock %}   
          
</body>
</html>
